/* Base styles */
* {
    box-sizing: border-box;

    --lottie-banner-height: 40dvh;
    --lottie-banner-max-height: 40dvh;
    --lottie-tranlate-x: calc(10dvw);
    --lottie-translate-y: calc(0dvh);
    --lottie-translate-y1: calc(10dvh);
    --lottie-scale: 1.0;
    --lottie-scale1: 1.0;
    --swiper-header-height: 2rem;
    
    --header-container-width: 100dvw;
    --header-container-height: 100dvh;
    --logo-wrapper-width: 40dvw;
    --logo-wrapper-height: auto;
    --header-wrapper-width: 40dvw;
    --header-wrapper-height: auto;
    --header-logo-width: 100px;
    --header-logo-height: auto;
    --header-subtitle-width: 40dvw;
    --header-subtitle-font-size: 1rem;

    --hero-slogan-width: 40dvw;
    --section-margin-top: 3rem;
    --section-margin-bottom: 3rem;
    --grid-minmax-width: 300px;
    --swiper-card-height: 44px;
    --swiper-card-padding: 32px;
    --bg-border-radius: 1.5rem;
    --generic-font-size: 1.5rem;
    --x48-padding: 48px;
    --x32-padding: 32px;
    --x24-padding: 24px;
    --x16-padding: 16px;
    --x8-padding: 8px;

    --primary-text-color: #4E4B47;
    --secondary-text-color: #9F9F9F;
    --tertiary-text-color: #CFCFCF;
}

.love-ya-like-a-sister-regular {
    font-family: "Love Ya Like A Sister", serif;
    font-weight: 400;
    font-style: normal;
}  

.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, sans-serif;
    min-height: 100vh;
    background-image: url("/background.svg");
    background-repeat: no-repeat;
    background-position: center calc(100% - 25%);
    background-size: 100%;
}

/* body * {
    border: #0470B8 solid 1px;
} */

body>section {
    padding-left: var(--x16-padding) !important;
    padding-right: var(--x16-padding) !important;
}

section>div {
    padding-left: var(--x16-padding) !important;
    padding-right: var(--x16-padding) !important;
}

h1 {
    display: block;
    font-size: 1.7rem;
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

p {
    display: block;
    font-size: 1.2rem;
    margin-top: 8px;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
}

ul {
    /* background: #3399ff; */
    list-style-type: none;
    /* margin: 0 48px 0 48px; */
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul li {
    /* background: #cce5ff; */
    color: rgba(0, 0, 0, 1);
    margin: 0px 48px 0px 48px;
    font-size: var(--x16-font-size);
    font-weight: 400;
    line-height: 40px;
    list-style-type: none;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

input {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

svg {
    width: 100%;
    /* Fill container width */
    height: 100%;
    /* Fill container height */
}

.word {
    display: inline-block;
    /* Allows wrapping */
    overflow-wrap: break-word;
    /* Breaks long words if necessary */
    word-wrap: break-word;
    /* Older support for word wrapping */
    white-space: normal;
    /* Allows text to wrap normally */
}

.container {
    position: relative;
}