/* Contact Section */
.join-our-pilot {
    padding-bottom: var(--x24-padding);
}

.join-our-pilot >div {
    margin: 0 auto;
}

/* .join-our-pilot-container {
    padding: 2.5rem 0 16px 0;
} */

.join-our-pilot-card {
    padding: 2.5rem 0 16px 0;
    max-width: 1152px;
    margin: 0 auto;
    background: rgba(229, 241, 212, 1);
    border-radius: var(--bg-border-radius);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.join-our-pilot-grid {
    display: grid;
    gap: var(--x8-padding);
}

.join-our-pilot-form-section {
    position: relative;
}

.join-our-pilot-title {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    color: rgba(26, 113, 171, 1);
    margin-bottom: var(--x24-padding);
}

.join-our-pilot-cta {
    text-align: center;
}

.join-our-pilot ul { 
    /* list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif; */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* counter-reset: foo;
    display: table;
    padding: 0 var(--x48-padding); */
}

.join-our-pilot ul > li {
    /* margin: 0px 48px 0px 48px; */
    font-size: 1.5rem;
    line-height: 40px;
    /* font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: table-row; */
}