/* Primary and Secondary Showcases Section */
.primary-secondary {
    padding: var(--x8-padding) 0 var(--x32-padding) 0;
}

.primary-secondary>div {
    max-width: 1152px;
    margin: 0 auto;
    background: linear-gradient(180.61deg, rgba(127, 187, 42, 0.17) -10.36%, rgba(255, 255, 255, 0.17) 55.78%);
    border-radius: var(--bg-border-radius) var(--bg-border-radius) 0 0;
    padding: 2.5rem 0 0;
}

.primary-secondary-grid {
    display: grid;
    gap: var(--x24-padding);
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-minmax-width), 1fr));
}